@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@500;700;900&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root{
	--first-main-color: #0295DB;
	--second-main-color: #0B0E1B;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	user-select: none; 
}

html {
	background-color: var(--second-main-color);
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
}

.area {
	width: 600px;
	height: 600px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.borderL {
	width: 1px;
	height: 600px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) translateX(-300px);
	border: 2px solid var(--second-main-color);
	background-color: #fff;
}
.borderR {
	width: 1px;
	height: 600px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) translateX(300px);
	border: 2px solid var(--second-main-color);
	background-color: #fff;
}
.borderT {
	width: 600px;
	height: 1px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) translateY(-300px);
	border: 2px solid var(--second-main-color);
	background-color: #fff;
}
.borderB {
	width: 600px;
	height: 1px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) translateY(300px);
	border: 2px solid var(--second-main-color);
	background-color: #fff;
}

.box {
	height: 200px;
	width: 200px;
	border: 2px solid var(--first-main-color);
	background: var(--second-main-color);
	font-size: 10rem;
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s;
}

.box:hover {
	filter: brightness(150%);
}

.model-wrapper {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.8);
}

.model-box {
	display: flex;
	width: 300px;
	height: 120px;
	border-radius: 10px;
	background-color: var(--second-main-color);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 3px 1px var(--first-main-color);
	flex-flow: column;
	justify-content: space-between;
}

.model-box span {
	width: 100%;
	font-size: 2em;
	background-color: #1c8ce0;
	align-self: end;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
	border: 1px solid var(--second-main-color);
	font-family: 'Poppins', sans-serif;
}

.model-box span:hover{
	filter: brightness(80%)
}

.model-title {
	display: flex;
	max-height: 50px;
	max-width: 200px;
	font-size: 2rem;
	color: #1c8ce0;
	align-self: center;
	margin-top: 10px;
	font-family: 'Poppins', sans-serif;
}

.model-title p {
	width: 30px;
}

.score {
	position: absolute;
	color: #fff;	
}

.btn-bot {
	width: 200px;
	height: 100px;
	position: absolute;
	background-color: #8a144f;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
	border-radius: 10px;
	box-shadow: 5px 5px 5px #000;
	transition: .3s;
	cursor: pointer;
	text-align: center;
	align-items: center;
	display: flex;
	font-size: 2.5em;
	color: var(--second-main-color);
	font-weight: bold;
}

.btn-bot:hover {
	transform: translateY(-45%) translateX(5%);
	box-shadow: none;
}

.btn-bot.active{
	background-color: #338c6a;
}